body {
  background-color: #9ad0c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: fantasy;
  font-size: 300%;
}

img {
  width: 150px;
  height: 150px;
}

.completed {
  color: green;
}
